/**
 * 编辑器中间的画布
 */

$cellSize: 35.6px;
$designerWidth: 320px;
$designerHeight: 568px;
$designerWidthHalf: $designerWidth / 2;

.canvas-wrapper {
  position: relative;
  top: 60px;
  width: $designerWidth;
  height: $designerHeight;
  margin: 0 auto;
  background: #fff;
  border: 1px solid #e7e7e7;

  .edit-mode {
    background-image:linear-gradient(90deg, rgba(180, 180, 180, 0.15) 10%, rgba(0, 0, 0, 0) 10%),
    linear-gradient(rgba(180, 180, 180, 0.15) 10%, rgba(0, 0, 0, 0) 10%); 
    background-size: 10px 10px;
}


}
// 切换编辑、预览模式 的按钮组
.mode-toggle-wrapper {
  position: fixed;
  z-index: 999;
  top: 80px;
  left: calc(50% - 200px);
  text-align: center;
}